table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,th{
    background-color: #FFF;
    padding: 5px;
    border: 1px #E3E3E3 solid;
}
th{
    background-color: #F5F5F5;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
}
td{
    text-align: right;
}
td.filename{
    text-align: left;
}
td.outdated{
    background-color: #FF0;
}
td.error{
    background-color: #F00;
}
td.uptodate{
    background-color: #0FF;
}
.errormsg{
    background-color: #FF0;
}
.infomsg{
    background-color: #0FF;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
